.photo{
    max-width: 32mm;
    position:absolute;
    top:5cm;
    left: 3cm;
    border: 1px solid rgb(0, 195, 255);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
.title{
    text-align: center;
}
body{ 
    background-color: #5f9ea0;
    padding-bottom: 10cm;
}
.name{
    position: absolute;
    top: 9cm;
    left: 3cm;
    border: 3px solid rgb(0, 195, 255);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
.post{
    background-color: white;
    padding-right: 15cm;
    position: absolute;
    left: 10cm;
    top: 51mm;
    text-align: center;
    
}

.info{
    list-style: none;
    position:absolute;
    border: 3px solid rgb(0, 195, 255);
    top: 103mm;
    left: 19mm;
}
.nav{    
list-style: none;
position:absolute;
top: 40mm;
left: 160mm;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 12cm;
    
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
.projects2{
    padding-left: 15cm;
}
.projects{
    padding-left: 15cm;
}  
.container {
    padding-top :10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    
  }
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    padding-top :10px;
    width: 100%; /* Full width */
    padding: 15px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    padding-top :10px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    padding-top :10px;
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
.br{
    padding: 10cm;
    background-color: turquoise;
}